.entry-content {
    font-family: Exo Medium;
    color: white;
}
.about-span a {
    text-decoration: none;
    color: #0c0;
}
.about-all p {
    font-size: 1rem;
    width: 100%;
}
.frontpage-image {
    display: inline;
}
    @media screen and (min-width: 1080px) {
.about-content .entry-header {
    justify-content: flex-start;
}
}
