/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */
footer {
	height: 200px;
}
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}
#masthead {
	display: none;
}
body {
	background: #222222;
}
html {
	line-height: 1.5;
	font-size: 1rem;
	color: #ffffff;
}
@media screen and (min-width: 1080px) {
	.footer-content {
		display: flex;
		justify-content: flex-end;
		margin-right: 12rem;
	}
	.browse-archives, .error-404, .entry-content {
		display: flex;
		justify-content: center
	}
	.search .page-header::before, .archive .page-header::before, .browse-archives .entry-header::before, .error-404::before, .home .entry-content::before {
		font-family: "Font Awesome 5 Free";
		content: "\f10d";
		font-weight: 900;
		color: #0c0;
		font-size: 100px;
		margin-right: 4rem;
	}
	
	.search .page-header::after, .archive .page-header::after, .browse-archives .entry-header::after, .error-404::after, .home .entry-content::after {
		font-family: "Font Awesome 5 Free";
		content: "\f10e";
		font-weight: 900;
		color: #0c0;
		font-size: 100px;
		margin-left: 4rem;
	}
}