footer {
    padding-top: 5rem;
    margin-left: 10px;
}
.menu {
    list-style: none;
    padding-left: 0;
    display: inline;
    margin-left: 5px;
    &:first-child {
        margin-left: 0;
    }
}
.menu li {
    text-decoration: none;
    border-right: 2px grey solid;
    display: inline;
    &:last-child {
        border: none;
    }
}
.menu li a {
    text-decoration: none;
    color: #0c0;
    padding: 1rem;
    
}
a.footer-about {
    padding-left: 0rem !important;
}
.site-info {
    display: none;
}
footer p {
    font-family: 'Exo Medium';
}
.brought {
    color: #fff;
    margin-top: 0;
}
.red {
    color: #0c0;
}
@media screen and (min-width: 600px) {
.menu li {
    text-decoration: none;
    border-right: 2px grey solid;
    display: inline; 
    &:last-child {
        border-right: 2px grey solid;
    } 
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
}
}
@media screen and (min-width: 600px) {
    .brought {
        padding-left: 1rem;
    }
}
