.page-id-208 .frontpage-image {
    margin-top: 3rem;
}
// not logged in
.quote-submission {
    font-family: 'Exo Medium';
    color: white;
    display: flex;
    width: 100%;
}
.quote-submission a {
    color: #0c0;
    text-decoration: none;
}
.quote-submission a:hover {
    color: #090;
}
.all-submit-out {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    width: 90%;
        & .entry-header {
            justify-content: flex-start;
        }
}
// logged in
.quote-submission-form {
    font-family: 'Exo Medium';
}
input[type="text"], input[type="url"] {
    width: 200px;
    border: #0c0 2px solid;
    background-color: inherit;
    margin-bottom: 1rem;
    margin-top: .5rem;
}
textarea {
    border: #0c0 2px solid;
    background-color: inherit;
    margin-bottom: 1rem;
    margin-top: .5rem;
}
label, .entry-title {
    color: white;
}
.author, .content, .source, .url {
    display: flex;
    flex-direction: column;
}
input.submit-quote-button {
    border: 2.5px solid #0c0;
	background-color: transparent;
	padding: .75rem 2rem;
	box-shadow: none;
	text-shadow: none;
    color: #0c0;
    font-family: 'Exo Medium'
}
@media screen and (min-width: 600px) {
    input[type="text"], input[type="url"] {
        width: 400px;
        border: #0c0 2px solid;
        background-color: inherit;
        margin-bottom: 1rem;
        margin-top: .5rem;
    }
    .quote-submission-wrapper {
        width: 100%;
    }
    .quote-submission {
        width: 100%;
    }
}
@media screen and (min-width: 1080px) {
    .quote-submission-wrapper .entry-header {
        justify-content: flex-start;
    }
    }