.page-id-208 .frontpage-image {
    margin-top: 3rem;
}
// not logged in
.quote-submission {
    font-family: 'Exo Medium';
    color: white;
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
}
.quote-submission a {
    color: #0c0;
}
.all-submit-out {
    width: 50%;
    display: flex;
    flex-direction: column;
    // margin: 0 auto;
    padding-top: 2rem;
}
// logged in
.quote-submission-form {
    font-family: 'Exo Medium';
}
input[type="text"], input[type="url"] {
    width: 250px;
    border: #0c0 2px solid;
    background-color: inherit;
}
textarea {
    border: #0c0 2px solid;
    background-color: inherit;
}
label, .entry-title {
    color: white;
}